*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }

body{
  margin: 0px;
  padding: 0px;
  background-color: #0D0B00;
  background-image: url(../imagenes/fondo1.jpg);
}

header{
  top: 0;
  padding: 2em .2em 1em;
  /*background-color: #020011;*/
  background-color: red;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.escondido{
    display: none;
}

 header h1{
  position: inline;
  text-align: right;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 1.3em;
  margin-top: -.4em;
  margin-right: .2em;
  color: #fff;
  right: 25px;
  z-index: 2;
 }

 #menu-btn{
   position: inline;
   float: left;
   margin-top: -.8em;
   margin-left: .4em;
   left: 10px;
   width: 30px;
   height: 30px;
   cursor: pointer;
 }

nav{
  position: relative;
  bottom: -15px;
  width: 100%;
  padding-bottom: 1em;
}

nav ul li{
  display: block;
  width: 100%;
  font-family: 'Press Start 2P', sans-serif;
  margin-top: 1em;
  cursor: pointer;
}

h2{
  position: relative;
  margin-top: 2em;
  text-align: center;
  font-family: 'Press Start 2P', sans-serif;
  color: #fff;
  -moz-animation: blink 1.5s linear infinite;
  -moz-animation: blink 1.5s linear infinite;
  -webkit-animation: blink 1.5s linear infinite;
}

@-moz-keyframes blink{
  0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

@-webkit-keyframes blink{
  0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

@keyframes blink{
  0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

#personajes{
  position: relative;
  margin: auto;
  top: 2em;
  width:75%;
  margin-bottom: 2em;
}

img{
  margin: auto;
  display: block;
}

.avatar:hover{
  opacity: 0.8;
}

#contenedor{
  position: relative;
  top:150px;
  margin: auto;
  background-color: #020011;
  width:40%;
  padding: 15px 15px 55px 15px;

}

article{
  font-family: 'Press Start 2P', sans-serif;
  color: #fff;
  margin-bottom: 1em;
  background-color: black;
  max-width: 25em;
  cursor: pointer;
}

#formulario{
  position: relative;
  top:200px;
  margin: auto;
  margin-bottom: 100px;
  padding: 20px;
  background-color: #ba2500;
  width: 100%;
}

.form-input {
	width:70%;
  margin-left: 10px;
	background-color: transparent;
	border: none;
  border-bottom: 2px solid #fff;

}

#radioID{
  list-style-type: none;
  margin-left: -40px;
}

ul label{
  float: right;
}

textarea{
  resize:none;
  width: 98%;
  height: 100px;
  display: block;
  margin-top: 8px;
  background-color: transparent;
  border: 2px solid #fff;
  font-size: 1em;
  color: #fff;
}

 #IDnombre, #IDmail{
font-size: 1em;
color: #fff;
}

div #IDenviar{
  display: block;
  width: 30%;
  margin:auto;
}

#IDenviar{
  width:25%;
  padding: 5px;
  background-color: #fff;
  color:#ba2500;
  font-family: 'Press Start 2P';
  font-size: 0.6em;
  border: none;
}

footer{
  margin-top: 4em;
  bottom: 0;
  width: 100%;
  height: 3em;
  background-color: #020011;
}

footer p{
  position: relative;
  top:5px;
  text-align: center;
  font-family: 'Press Start 2P';
  color: #fff;
  font-size: 0.7em;
}

.descripcion {
    margin: 1em .5em;
    padding-bottom: .5em;
    background-color: black;
}

.menu {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.nav-escondido {
    display: none;
}

.cuerpo {
    display: block;
    margin: auto;
    margin-top: 6em;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}
